.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "OSCIS LFO SPECTRO_ONE SPECTRO_TWO"
        "WAVEFORM WAVEFORM WAVEFORM WAVEFORM"
        "WAVEFORM WAVEFORM WAVEFORM WAVEFORM"
        "WAVEFORM WAVEFORM WAVEFORM WAVEFORM";
    height: 100vh;
    width: 100vw;
}

.OSCIS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1.4fr 0.5fr 1.2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "SINE SAW SQR TRI NOISE"
        "SINE_VOL SAW_VOL SQR_VOL TRI_VOL NOISE_VOL"
        "SINE_VOLW SAW_VOLW SQR_VOLW TRI_VOLW NOISE_VOLW"
        "SINE_FREQ SAW_FREQ SQR_FREQ TRI_FREQ MICRO"
        "SINE_FREQW SAW_FREQW SQR_FREQW TRI_FREQW MICRO";
    grid-area: OSCIS;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    box-shadow: 4px 4px 20px #333;
    border-radius: 10px;
    border: 1px ridge #333;
    margin: 4px;
    padding: 5px;
}

.OSCIS > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SINE {
    grid-area: SINE;
}

.SAW {
    grid-area: SAW;
}

.SQR {
    grid-area: SQR;
}

.TRI {
    grid-area: TRI;
}

.NOISE {
    grid-area: NOISE;
}

.SINE_VOL {
    grid-area: SINE_VOL;
}

.SAW_VOL {
    grid-area: SAW_VOL;
}

.SQR_VOL {
    grid-area: SQR_VOL;
}

.TRI_VOL {
    grid-area: TRI_VOL;
}

.NOISE_VOL {
    grid-area: NOISE_VOL;
}

.SINE_VOLW {
    grid-area: SINE_VOLW;
}

.SAW_VOLW {
    grid-area: SAW_VOLW;
}

.SQR_VOLW {
    grid-area: SQR_VOLW;
}

.TRI_VOLW {
    grid-area: TRI_VOLW;
}

.SINE_FREQ {
    grid-area: SINE_FREQ;
}

.SAW_FREQ {
    grid-area: SAW_FREQ;
}

.SQR_FREQ {
    grid-area: SQR_FREQ;
}

.TRI_FREQ {
    grid-area: TRI_FREQ;
}

.SINE_FREQW {
    grid-area: SINE_FREQW;
}

.SAW_FREQW {
    grid-area: SAW_FREQW;
}

.SQR_FREQW {
    grid-area: SQR_FREQW;
}

.TRI_FREQW {
    grid-area: TRI_FREQW;
}

.NOISE_VOLW {
    grid-area: NOISE_VOLW;
}

.LFO {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4fr 1.4fr 0.5fr 1.2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "SINE_LFO SAW_LFO SQR_LFO TRI_LFO NOISE_LFO"
        "SINE_LFO_FREQ SAW_LFO_FREQ SQR_LFO_FREQ TRI_LFO_FREQ NOISE_LFO_FREQ"
        "SINE_AMW SAW_AMW SQR_AMW TRI_LFOW NOISE_LFOW"
        "SINE_LFOF_FREQ SAW_LFOF_FREQ SQR_LFOF_FREQ TRI_LFOF_FREQ ."
        "SINE_LFOF_FREQW SAW_LFOF_FREQW SQR_LFOF_FREQW TRI_LFOF_FREQW .";
    grid-area: LFO;
    background-color: transparent;
    transform: scale(0.8, 0.8);
    box-shadow: 4px 4px 20px #333;
    border-radius: 10px;
    border: 1px ridge #333;
    margin: 4px;
    padding: 5px;
}

.LFO > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LFO > div > button {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}

.OSCIS > div > button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}

.OSCIS > div > div > button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: crosshair;
}
.SAW_LFO {
    grid-area: SAW_LFO;
}

.SQR_LFO {
    grid-area: SQR_LFO;
}

.TRI_LFO {
    grid-area: TRI_LFO;
}

.SAW_LFO_FREQ {
    grid-area: SAW_LFO_FREQ;
}

.SQR_LFO_FREQ {
    grid-area: SQR_LFO_FREQ;
}

.TRI_LFO_FREQ {
    grid-area: TRI_LFO_FREQ;
}

.SINE_LFO {
    grid-area: SINE_LFO;
}

.SINE_LFO_FREQ {
    grid-area: SINE_LFO_FREQ;
}

.NOISE_LFO {
    grid-area: NOISE_LFO;
}

.NOISE_LFO_FREQ {
    grid-area: NOISE_LFO_FREQ;
}

.SINE_AMW {
    grid-area: SINE_AMW;
}

.SAW_AMW {
    grid-area: SAW_AMW;
}

.SQR_AMW {
    grid-area: SQR_AMW;
}

.TRI_LFOW {
    grid-area: TRI_LFOW;
}

.NOISE_LFOW {
    grid-area: NOISE_LFOW;
}

.SINE_LFOF_FREQ {
    grid-area: SINE_LFOF_FREQ;
}

.SAW_LFOF_FREQ {
    grid-area: SAW_LFOF_FREQ;
}

.SQR_LFOF_FREQ {
    grid-area: SQR_LFOF_FREQ;
}

.TRI_LFOF_FREQ {
    grid-area: TRI_LFOF_FREQ;
}

.SINE_LFOF_FREQW {
    grid-area: SINE_LFOF_FREQW;
}

.SAW_LFOF_FREQW {
    grid-area: SAW_LFOF_FREQW;
}

.SQR_LFOF_FREQW {
    grid-area: SQR_LFOF_FREQW;
}

.TRI_LFOF_FREQW {
    grid-area: TRI_LFOF_FREQW;
}

.SPECTRO_ONE {
    grid-area: SPECTRO_ONE;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 40px;
    transform: scale(1, 0.9);
}

.SPECTRO_TWO {
    grid-area: SPECTRO_TWO;
    background-color: transparent;
    padding-top: 15px;
    padding-right: 15px;
    transform: scale(1, 0.9);
}

.WAVEFORM {
    grid-area: WAVEFORM;
    background-color: rgba(0, 0, 0, 0.05);
}
